# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-h21lfmpl%%e@!1(^d#ljm$rwpeh+n7v8&ynbx*fcumijjmww!c
ALLOWED_HOSTS=localhost,127.0.0.1,.localhost

# Optional: Custom Database URL
# DATABASE_URL=sqlite:///db.sqlite3
